@'

NEXT_PUBLIC_SUPABASE_URL=https://ksfwqanjkxuxfuusodko.supabase.co

NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtzZndxYW5qa3h1eGZ1dXNvZGtvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMzMjI2NjksImV4cCI6MjA5ODg5ODY2OX0.JZQ1ejhZlp_X7KoC5eTDJG6rbeqLPKOczVBdEJ3dmwE

'@ | Set-Content -Encoding UTF8 .env.local